<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <title>Accueil</title>
  <style>
    .accueil {
      font-size: 50px;
      font-weight: bold;
      width: 70%;
      height: 70%;
      background-color: #0097B2
    }

    .accueil {
      width: fit-content;
      height: fit-content;
    }



    .c1 .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 10%;
      margin-left: 10px;
      margin-right: 10px;
    }

    .content {
      margin: 10px;
    }
  </style>
</head>


<body>
<div class="container1">
  <!-- Side Bar -->
  <div class="sideBar">
    <div class="logo">
      <img src="./images/logo.png" alt="">
    </div>
    <div id="role"><img class="icon" src="./images/person-rolodex.svg" alt=""> Secrétaire</div>
    <div class="side">
      <div><a href="./Accueil.html"><img class="icon" src="./images/house.svg" alt="">
        Accueil</a>
      </div>
      <div><a href="./Patient.html"><img class="icon" src="./images/person-circle.svg" alt=""> Patient</a>
      </div>
      <div style="background-color: #0097B2;"><a href="ListeRdv.html"><img class="icon"
                                                                           src="./images/calendar-week.svg" alt=""> Agenda</a></div>
      <div><a href=""><img class="icon" src="./images/clipboard-data.svg" alt="">Statistiques</a></div>
      <div><a href=""><img class="icon" src="./images/cash-coin.svg" alt=""> Caisse</a></div>
      <div><a href=""><img class="icon" src="./images/box-arrow-right.svg" alt=""> Déconnexion</a></div>
    </div>
  </div>
  <!-- End Side Bar -->
  <!-- Main -->
  <div class="main">
    <div class="c1">
      <div class="header">
        <div>
          <h3>Ajout Consultation </h3>
        </div>
      </div>
      <div class="content">
        <form th:action="@{/Consultation/saveConsl/{id}(id=${rendezVous.id})}"  th:object="${consultation}"  method="post">
          <div class="form-row">
          <input type="hidden"  th:field="*{date}" th:value="${rendezVous.id}" name="version"  />

          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Total a payer</label>
              <input type="number" class="form-control" th:field="*{TotalaPayee}" placeholder="Total a payer">
            </div>
            <div class="form-group col-md-6">
              <label>Reste</label>
              <input type="number" class="form-control" th:field="*{Reste}" placeholder="Reste">
            </div>
            <div class="form-group col-md-6">
              <label>Payeé</label>
              <input type="number" class="form-control" th:field="*{Payee}" placeholder="Payeé">
            </div>

          </div>
          <br>
          <button type="submit" class="btn btn-success">Ajouter </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Main -->
</div>
<!-- End Content -->

</body>

</html>