<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Ajouter un nouveau patient</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div class="container1">
  <!-- Side Bar -->
  <div class="sideBar">
    <div class="logo">
      <img th:src="@{/images/logo.png}" alt="">
    </div>

    <div id="role"><img th:src="@{/images/person-rolodex.svg}" />Secrétaire</div>
    <div class="side">
      <div style="background-color: #0097B2;"><a th:href="@{Accueil}"><img class="icon" th:src="@{/images/house.svg}" alt="">
        Accueil</a></div>
      <div><a th:href="@{patients}"><img class="icon" th:src="@{/images/person-circle.svg}" alt=""> Patient</a>
      </div>
      <div><a th:href="@{appointments}"><img class="icon" th:src="@{/images/calendar-week.svg}" alt=""> Agenda</a></div>
      <div><a href=""><img class="icon" th:src="@{/images/clipboard-data.svg}" alt="">Statistiques</a></div>
      <div><a href=""><img class="icon" th:src="@{/images/cash-coin.svg}" alt=""> Caisse</a></div>
      <div><a href=""><img class="icon" th:src="@{/images/box-arrow-right.svg}" alt=""> Déconnexion</a></div>
    </div>
  </div>

  <div class="main">

    <div class="container">
      <h1 class="my-4">Ajouter un nouveau patient</h1>
      <form th:action="@{/savePatient}" th:object="${patient}"  method="post">
        <div class="form-group">
          <label >Nom:</label>
          <input type="text" class="form-control"  th:field="*{nom}" required>
        </div>
        <div class="form-group">
          <label >Cin:</label>
          <input type="text" class="form-control" name="cin" th:value="${cin}" required>
        </div>
        <div class="form-group">
          <label >Prénom:</label>
          <input type="text" class="form-control" name="prenom" th:value="${prenom}" required>
        </div>
        <div class="form-group">
          <label >Adresse:</label>
          <input type="text" class="form-control" name="adresse" th:value="${adresse}" required>
        </div>
        <div class="form-group">
          <label >Téléphone:</label>
          <input type="number" class="form-control" name="tel" th:value="${tel}"required>
        </div>
        <div class="form-group">
          <label >Mutuelle:</label>
          <input type="text" class="form-control" name="mutuelle" th:value="${mutuelle}" required>
        </div>
        <div class="form-group">
          <label >Mutuelle:</label>
          <input type="text" class="form-control" name="sexe" th:value="${sexe}" required>
        </div>
        <div class="form-group">
          <label >Mutuelle:</label>
          <input type="text" class="form-control" name="DateNaissance" th:value="${datenaissance}" required>
        </div>

        </br>
        <hr>

        <a th:href="@{/}"> Back to Patient List</a>

        <button type="submit" class="btn btn-primary">Ajouter</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
