<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Patient Management System</title>

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <link rel="stylesheet" href="webjars/bootstrap-icons/1.10.2/font/bootstrap-icons.css">

</head>
<body>
<div class="container my-2">
  <h1>Patients List</h1>

  <a th:href = "@{/showNewPatientForm}" class="btn btn-primary btn-sm mb-3"> Add Patient </a>

  <table border="1" class = "table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=prenom&sortDir=' + ${reverseSortDir}}">
          Patient First Name</a>
      </th>
      <th>
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=nom&sortDir=' + ${reverseSortDir}}">
          Patient Last Name</a>
      </th>
      <th>
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=adresse&sortDir=' + ${reverseSortDir}}">
          Patient Adresse</a>
      </th>
      <th>
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=tel&sortDir=' + ${reverseSortDir}}">
          Patient Tel</a>
      </th>
      <th>
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=mutuelle&sortDir=' + ${reverseSortDir}}">
          Patient Mutuelle</a>
      </th>
      <th>
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=sexe&sortDir=' + ${reverseSortDir}}">
          Sexe</a>
      </th>
      <th> Actions </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${patientList}">
      <td th:text="${p.prenom}"></td>
      <td th:text="${p.nom}"></td>
      <td th:text="${p.adresse}"></td>
      <td th:text="${p.tel}"></td>
      <td th:text="${p.mutuelle}"></td>
      <td th:text="${p.sexe}"></td>
      <td> <a th:href="@{/showFormForUpdate/{id}(id=${p.id})}" class="btn btn-primary">Update</a>
        <a th:href="@{/deletePatient/{id}(id=${p.id})}" class="btn btn-danger"> Delete </a>
      </td>
    </tr>
    </tbody>
  </table>

  <div th:if = "${totalPages > 1}">
    <div class = "row col-sm-10">
      <div class = "col-sm-2">
        Total Rows: [[${totalItems}]]
      </div>
      <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
      </div>
    </div>
  </div>
</div>
<form th:action="@{/logout}" method="post">
  <input type="submit" class="btn btn-info" value="Logout" />
</form>
</body>
</html>