<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.10.2/font/bootstrap-icons.css">
</head>
<body>
<div class="p-3">
    <div class="card">
        <div class="card-header"> Liste Patient </div>
        <div class="card-body">
            <form method="get" th:action="@{/index}" >
                <label> Keyword :</label>
                <input  type="text" name="keyword" th:value="${keyword}">
                <button type="submit"   class="btn btn-info"> <i class="bi bi-search"></i></button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th> ID </th> <th> Nom </th> <th> Prenom </th> <th> Adresse </th> <th> Tel</th> <th> Mutuelle </th> <th> Secretaire </th> <th> Action </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each=" p : ${patientList}">
                    <td th:text="${p.id}"> </td>
                    <td th:text="${p.nom}"> </td>
                    <td th:text="${p.prenom}"> </td>
                    <td th:text="${p.adresse}"> </td>
                    <td th:text="${p.tel}"> </td>
                    <td th:text="${p.mutuelle}"> </td>
                    <td th:text="${p.secretaire.prenom}"> </td>
                    <td> <a onclick="javascript:return confirm('Are u sure ?')" th:href="@{index/delete(id=${p.id}, keyword=${keyword}, page=${currentPage})}" class="btn btn-danger"> <i class="bi bi-trash"></i> </a> </td>
                </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page,status : ${pages}">
                    <a th:href="@{index(page=${status.index},keyword=${keyword} )}"
                       th:class="${currentPage==status.index?'btn btn-info ms-1' : 'btn btn-outline-info ms-1'}"
                       th:text="${1+status.index}"></a>

                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>