<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmennts :: boots_trap">
  <title>Registration Page</title>
</head>
<body >
<form class="mx-1 mx-md-4" method="post"
      role="form"
      th:action="@{/registration}"
      th:object="${user}">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register</p>



                    <div th:if="${param.success}">
                      <div class="alert alert-info">
                        Registration successful !!!
                      </div>
                    </div>

                  <div class="mb-3">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>

                    <label class="form-label" for="name">Username</label>
                    <input class="form-control" id="name" name="name" type="text">
                    <p class="text-danger" th:errors="*{name}"
                       th:if="${#fields.hasErrors('name')}"></p>
                  </div>
                  <div class="mb-3">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>

                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" id="email" name="email" type="email">
                    <p class="text-danger" th:errors="*{email}"
                       th:if="${#fields.hasErrors('email')}"></p>
                  </div>
                  <div class="mb-3">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>

                    <label class="orm-label" for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="password">
                    <p class="text-danger" th:errors="*{password}"
                       th:if="${#fields.hasErrors('password')}"></p>
                  </div>
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4" >
                      <button  type="submit" class="btn btn-primary btn-lg">Register</button>
                      <p class="small fw-bold mt-2 pt-1 mb-0">You already have an account? <a th:href="@{/login}"
                                                                                        class="link-danger">Login</a></p>
                    </div>
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                  <img src="images/accueil.png"
                       class="img-fluid" alt="Sample image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
